.slider-wrapper {
  /* font-size: 40px; */
  color:#828282;
  font-weight: bold;
  /* text-transform: uppercase; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 50px;
  border-radius: 6px;
  margin-left: 15px;
  overflow: hidden;
}
.slider div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slider-text1 {
  background: none;
  animation: slide 15s linear infinite;
}
.slider-text2 {
  background: #ea4c33;
}
.slider-text3 {
  background: #1d1e1b;
}
.slider-text4 {
  background: #ebb330;
}
.slider-text5 {
  background: #e0001a;
}
.slider-text6 {
  background: #2a3547;
}
.slider-text7 {
  background: #f19b33;
}

@keyframes slide {
  0% {margin-top:-700px;}
  14% {margin-top:-600px;}
  20% {margin-top:-600px;}
  26% {margin-top:-500px;}
  32% {margin-top:-500px;}
  38% {margin-top:-400px;}
  44% {margin-top:-400px;}
  50% {margin-top:-300px;}
  56% {margin-top:-300px;}
  62% {margin-top:-200px;}
  68% {margin-top:-200px;}
  78% {margin-top:-100px;}
  84% {margin-top:-100px;}
  92% {margin-top:0px;}
  100% {margin-top:0px;}
}
