#contact{
  background-color: #272b35;
  padding-top: 50px;
  padding-bottom: 50px;
}
.field #message {
  color: #fff;
}
.field #name {
  color: #fff;
}
.field #email {
  color: #fff;
}
.inner{
  margin: 0 auto;
  max-width: 65em;
  width: calc(100% - 6em);
}

.titleForm {
    color: #ebb330 !important;
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 1em 0;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}


form{
  margin: 0 0 2em 0;
}


form .field.half.first {
    padding: 0 1em 0 0;
}

form .field.half {
    width: 50%;
    float: left;
    padding: 0 0 0 1em;
}
form .field {
    margin: 0 0 2em 0;
}


label {
    color: #fff;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: .25em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="email"], select {
    height: 2.75em;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(212,212,255,0.035);
    border: none;
    border-radius: 0;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

@media screen and (max-width: 1280px)
body, input, select, textarea {
    font-size: 12pt;
}

@media screen and (max-width: 1680px)
body, input, select, textarea {
    font-size: 14pt;
}


form .field.half {
    width: 50%;
    float: left;
    padding: 0 0 0 1em;
}

form .field {
    margin: 0 0 2em 0;
}

textarea {
    padding: 0.75em 1em;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

form>.actions {
    margin: 2.5em 0 0 0 !important;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

input[type="submit"].special, input[type="reset"].special, input[type="button"].special, button.special, .button.special {
    background-color: #fff;
    box-shadow: none;
    color: #242943;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
@media screen and (max-width: 1280px)
body, input, select, textarea {
    font-size: 12pt;
}
@media screen and (max-width: 1680px)
body, input, select, textarea {
    font-size: 14pt;
}
