<section id="contact">
	<div class="inner">
		<h2 class="section-heading white" style="margin-bottom:5px;">A question?</h2>
		<p class="titleForm">Send us a message, we'll answer shortly!</p>
		<section>
			<form action="https://formspree.io/{{ site.email }}" method="POST">
				<div class="field half first">
					<p for="name">Name</p>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<p for="email">Email</p>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<p for="message">Message</p>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
	</div>
</section>
