<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll padding5 fullflex" href="#home"><img id="logo" src="/img/logo.png" alt="logo" class="logoHeight marginauto marginRight10"> Dontgomanual</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	<li>
                    <a class="page-scroll" href="#e-retail1">E-retail</a>
                </li>
                <li>
                    <a class="page-scroll" href="#product">Product</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://app.dontgomanual.com/sign-in">Sign-in</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
            <hr class="intro-divider">
						<h3>{{ page.subTitle }}
              <div class="slider-wrapper">
                on
                <div class="slider">
                    <div class="slider-text1">others</div>
                    <div class="slider-text2">Boulanger</div>
                    <div class="slider-text3">Darty</div>
                    <div class="slider-text4">Fnac</div>
                    <div class="slider-text5">Auchan</div>
                    <div class="slider-text6">Cdiscount</div>
                    <div class="slider-text7">Amazon</div>
                </div>
              </div>

            </h3>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
